.container{
    margin-top: 100px;
}
.container .background{
    background-image: url(GARASI.jpg); 
    height: 800px;
    width: 1263.33px;
    background-repeat: no-repeat;
}
.gambar2{
    height: 339.521px;
    width: 505.333px;
    margin-top: 200px;
}
.content1 .foto{
    height: 50%;
    width: 50%;
}
.content1{
    display: flex;
    margin: 120px;
}
.teks{
    margin-left: 80px;
}
.teks h3{
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    height: 32px;
    width: 477.531px;
    padding: 0 0 10px 0;
    color: #333333;
}
.teks h2{
    font-size: 56px;
    font-weight: 900;
    line-height: 61.6px;
    height: 133.208px;
    width: 477.531px;
    padding: 0 0 10px 0;
    color: #474747;
}
.teks p{
    font-size: 17px;
    /* font-weight: 300; */
    line-height: 23.8px;
    height: auto;
    width: auto;
    display: inline;
    color: #333300;
}
.content2 img{
    height: 25%;
    width: 25%;
}

.partner h3{
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
    color: #1C9B09;
    height: 46px;
    width: 1010.67px;
    padding: 0 0 10px 0;
    margin-top: 100px;
}
.partner p{
    font-size: 14px;
    font-weight: 500;
    line-height: 23.8px;
    text-align: center;
    color: #666666;
    height: 95.2083px;
    width: 80%;
    margin-top: 20px;
}
.logoan{
    background-image: url(logo-logoan.png);
    image-rendering: auto;
    width: 100%;
}
.kontak img{
    background-image: url(kontak.png);
    image-rendering: auto;
    padding-top: 20px;
    width: 100%;   
}